html {
    background-color: #4e67b1;
}

.square-list {
    list-style-type: square;
    color:azure
}

.letters-list {
    list-style-type: upper-alpha;
    color:rgb(180, 227, 227)
}

.nav {
    list-style-type: none;
}